.app-container {
  background: #f9fafb;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.submitButton {
  background-color: #0f0f42;
  color: white;
}

::ng-deep .p-dropdown {
  border-color: black;
  width: 100%;
  margin-top: 4px;
  border-radius: 4px;
}

::ng-deep .p-inputtext {
  padding: 6px;
}

.basicFont {
  font-family: "Inter var", sans-serif !important;
}